$black: #333333;
$white: #FEFEFE;
$red: #AD0017;
$yellow: #F3FE36;

$primary: #E21B5A;

@import "./node_modules/bulma/bulma";

nav {
  opacity: 0.95;

  .is-brand {
    @include touch {
      margin: 0 auto;
    }
  }
}

.container {
  @include desktop {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.is-fixed {
  position: fixed;
  width: 100%;
}

#header {
  background-image: url('../../asset/img/bg-banner.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container {
    padding: 60px;
    text-align: center;
  }

  .title {
    margin-top: -7px;
    margin-right: -12px;

    h1 {
      font-size: 33px;
    }
  }

  p {
    font-size: 15px;
    line-height: 170%;
  }
}

.is-filter {
  background-color: rgba($black, 0.5);
}


// about

.circle {
  background-color: $white;
  border-radius: 100%;
  width: 170px;
  height: 170px;

  padding: 30px 30px;

  margin: 0 auto;

  img {
    margin: 0 auto;
  }

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#about {
  background-color: $red;
  width: 100%;
  padding-bottom: 60px;

  .logo {
    margin: 40px auto;
  }

  .content h1, p {
    margin: 10px;
    color: $white;
  }

  .content p {
    font-size: 18px;
  }

  .main.content {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 60px;
  }
}

// event

#event {
  background-image: url('../../asset/img/bg-eventdetail.png');
  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 100px 50px;

  p, h1, h2, h3, ul > li {
      color: $white;
  }

  .is-yellow {
    color: $yellow;
  }

}

// register

#register {
  background-color: $black;
  padding: 40px 40px;

  label {
    color: $white;
  }

  h1 {
    color: $white;
  }

  .select {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }

  .select select {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .input {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
  }

  .button {
    width: 150px;
  }

  .column {
    margin-left: 20px;
    margin-right: 20px;

    @include tablet {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

// Contact

#contact {
  width: 100%;
  padding: 150px 0;
  background-color: $primary;

  h1 {
    color: $white;
  }

  .container {
    width: 350px;
    margin: 0 auto;
  }
}
